body
	background-color rgba(0, 0, 0,0.17) //#21856d2e//blanco con tonalidad gris #e8e8e8
	font-size 14px
	font-family: 'Roboto', sans-serif;	
		
// body::-webkit-scrollbar//ESTO OCULTA EL SCROLL
// 	display none
	
h2,h3,h4,h5,ul,body,html
	padding 0px
	margin 0px
a
	text-decoration none	
	&:hover
		text-decoration none	

.mtop16
	margin-top 16px	

.wrapper
	min-height 100vh
	overflow hidden
	.col1
		float left
		position fixed
		z-index 999
		widht 20%
	.col2
		float left
		margin-left 248px
		width 80%
.btn-close
	display none		
.sidebar
	background-color #212121//#343a40//#fff
	min-height 145vh //Altura del sidebar
	min-width 250px
	.section-top
		background-color #21856d//verde-> #00ad27a6
		border-bottom 2px solid #00ad27a6
		//box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15)
	.logo
		display block
		text-align center
		margin 0px auto
		padding-top 24px
		width 50%
	.icon
		a //ESTO POSICIONA EL ICONO SALIR
			margin-right 0.5em	
			float right 
			color #fff//#21856d//verde #005403//#b35100
			font-size 1.5em
			&:hover
				color red
	.user
		color #21856d//verde #005403 !important
		padding 10px 20px 10px 20px
		
	.main::-webkit-scrollbar//ESTO OCULTA EL SCROLL
		display none
	.main
		height 500px
		overflow-y auto
		ul
			li
				margin-bottom 4px
				a
					color #fff//#000 !important
					display block		
					font-size 1em
					padding 12px 12px
					i
						margin-right 10px
					&:hover
						background-color #21856d//verde #005403
						box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15)
						color #fff !important
						text-decoration none
				a.active
						background-color #21856d//verde #005403
						box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15)
						color #fff !important
						text-decoration none
.btn-success
	background-color #21856d
	border-color #21856d
	&:hover
		background-color #186653
		border-color #186653

.navbar
	border-radius 0 0 5px 0
	padding-left 1rem
	font-weight bold
	background-color #212121
	.btn
		color #fff
		font-weight bold
		&:focus
			outline none
			box-shadow none
	.dropdown-menu	
		background-color #000	
		min-width 9rem	
		padding 0.5em
		li
			/*&:hover
				color #000
				background-color #21856d*/		
			a
				color #fff
				font-size 14px
				&:hover
					background-color #000
					color #21856d
				

.page
	padding-top 16px
	padding-bottom 16px
	.breadcrumb			
		border-radius 5px
		background-color #fff
	.breadcrumb-item
		a
			font-size 1.1em
			vertical-align middle
			margin-left 16px
			color #21856d
			font-weight bold
			&:hover
				color black
				text-decoration none !important
					
	.panel
		background-color #fff
		border-radius 6px
		border-bottom 2px solid #00ad27a6//#fd7e1494
		width 100%
		.header
			background-color #21856d//#00ad27a6//#fd7e1494
			border-bottom 1px solid #e8e8e8
			h2.title
				font-weight bold
				display inline-block
				color #fff//#005403
				font-size 1.1em
				padding 12px 16px
		.inside
			padding 16px
			.nav
				.nav-link
					color #005403
					background-color #00ad27a6//59ca726b clarito
					border 1px solid #005403
					margin-right 8px
			.big-count
				width 100%
				font-weight bold
				text-align center
				font-size 1.5em
			// .btn-group	
			// 	display flex			
									
.opts
	a
		border-radius 4px
		border 1px solid #21856d//#00ad27a6//#fd7e1494
		display inline-block
		padding 8px 12px
		i
			color #21856d//green
			&:hover
				box-shadow 0 0.5rem 1rem rgba(0,0,0,0.15)
				color #000 !important			
.page-user
	.info
		background-color #fff
		span
			display block
			font-size 1.2em
			width 100%
		span.title
			font-weight bold
		span.text			
			margin-bottom 16px
	.btn
		width 100%
.panel
	.dropdown
		.dropdown-menu
			padding-bottom 0px
			padding-top 0px
			a
				font-size 14px
				&:hover
					color #fff
					background-color #21856d
.dropright
	.dropdown-menu
		padding-bottom 0px
		padding-top 0px
		a
			font-size 14px
			&:hover
				color #fff
				background-color #21856d
.footer
	position relative	
	bottom 0
	background-color #000
	color #fff
	text-align center
	font-size 10px    
.table
	vertical-align middle
.more_info
	width 70%
	background-color grey
	opacity 0.8
	font-size 12px
	border-radius 2px
	margin-left auto
	margin-right auto

@media only screen and (max-width 1267px)			
	.wrapper
		.col1			
			position relative	
			font-size 10px
			display none
			float none
			text-align center
			.sidebar				
				min-height 10vh
				width 500px	
				position relative
				border-radius 10px
				border-top 10px
				margin auto
				margin-top 100px
				ul
					list-style-type none
				.main
					height auto
					overflow-y hidden
			.section-top
				border-radius 10px 10px 0px 0px
		.col2
			margin-left 0px
			float none
			width 100%	
	.navbar		
		border-radius 0px 0px 5px 5px
	.nav
		.row
			--bs-gutter-x 0px
	.navbar-expand-lg
		.navbar-toggler
			display block
			padding 0px
			color white
			font-size 30px
			&:focus
				outline none		
				box-shadow none
	.btn-close
		display block
		margin-left auto
		margin-right auto
		font-size 30px
	.panel 
		margin-top 16px
	.breadcrumb
		margin-bottom 0px
	.main
		ul			
			li
				display inline-grid
				margin-bottom 4px
				a
					color #fff//#000 !important
					display block
					font-size 1.1em
					padding 12px 12px
					i
						font-size 2em
						margin-right 10px
						
@media only screen and (max-width 728px)
	.wrapper
		.col1
			display none
			float none
			text-align center
			.sidebar
				width 500px
				position relative
				border-radius 10px
				border-top 10px
				margin auto
				margin-top 100px
				ul
					list-style-type none
				.section-top
					border-radius 10px
				.main
					height auto
					overflow-y hidden			
		.col2
			float none
			width 100%	
	// .btn-group
	// 	display grid !important
	.info
		border-radius 0px !important
		
	.navbar		
		border-radius 0px 0px 5px 5px
		
	.nav
		.row
			--bs-gutter-x 0px
	.table
		display block
		overflow-x auto
	.btns
		margin-top 16px
	.navbar-toggler
		padding 0px
		color white
		font-size 30px
		&:focus
			outline none		
			box-shadow none
	.btn-close
		display block
		margin-left auto
		margin-right auto
		font-size 30px
	.panel 
		margin-top 16px
	.breadcrumb
		margin-bottom 0px
	.main
		ul			
			li
				display inline-grid
				margin-bottom 4px
				a
					color #fff//#000 !important
					display block
					font-size 1.1em
					padding 12px 12px
					i
						font-size 2em
						margin-right 10px